<div class="post-form">
  <div>
    <h3>Say something...</h3>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Input title here"
        formControlName="title"
        type="text"
        name="title"
        required
        minlength="3"
        class="form-control"
      />
    </mat-form-field> -->
    <mat-form-field>
      <textarea
        matInput
        rows="5"
        cols="30"
        name="content"
        formControlName="content"
        required
        class="form-control"
        placeholder="Create Post"
        (click)="openModalWithComponent()"
      ></textarea>
    </mat-form-field>
    <label class="hoverable" for="fileInput">
      <img
        [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"
      />
      <div class="hover-text">Choose file</div>
      <div class="background"></div>
    </label>
    <br />

    <input
      id="fileInput"
      type="file"
      (change)="onSelectFile($event)"
      name="image"
    />
    Upload Percent: {{ percentDone }}% <br />
    <button *ngIf="url" (click)="delete()">delete</button>

    <div *ngIf="showImg">
      <h1>show me</h1>
    </div>

    <button type="submit" mat-raised-button color="accent">Save post</button>
    <br />

    <button
      type="button"
      class="btn btn-primary"
      (click)="openModalWithComponent()"
    >
      Create template modal
    </button>
    <br />
    <br />
    <textarea
      matInput
      rows="5"
      cols="30"
      name="content"
      formControlName="content"
      required
      class="form-control"
      placeholder="Create Post"
      (click)="openModal1('custom-modal-1')"
    ></textarea>
  </form>
</div>
<button (click)="openModal1('custom-modal-1')">Open Modal 1</button>
<jw-modal id="custom-modal-1">
  <h1>A Tall Custom Modal!</h1>
  <button (click)="closeModal('custom-modal-1')">Close</button>
</jw-modal>
