<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img
    matPrefix
    src="https://material.angular.io/assets/img/examples/shiba1.jpg"
    width="24px"
    height="24px"
    class="avatar-img"
  />
  <form class="example-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width"
      ><mat-label> </mat-label>
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error *ngIf="f.title.errors?.required">Title is required </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> <mat-icon>favorite</mat-icon> <i> Content</i> </mat-label>
      <input
        matInput
        placeholder="What's on your mind?"
        formControlName="content"
      />
      <mat-error *ngIf="f.content.errors?.required"
        >Content is required
      </mat-error>
    </mat-form-field>
    <label for="file-upload" class="custom-file-upload"
      ><mat-icon>add_a_photo</mat-icon> Uploads photo</label
    >
    <input
      type="file"
      id="file-upload"
      name="image"
      (change)="onFileChange($event)"
    />
    <div #myInput class="image-preview mb-3" *ngIf="previewUrl">
      <img [src]="previewUrl" height="300" />
    </div>
    <div>
      <button mat-raised-button color="accent">Post</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
