<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img
    matPrefix
    src="https://material.angular.io/assets/img/examples/shiba1.jpg"
    width="24px"
    height="24px"
    class="avatar-img"
  />
  <form class="example-form">
    <mat-form-field class="example-full-width"
      ><mat-label> </mat-label>
      <input matInput placeholder="Title" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> <mat-icon>favorite</mat-icon> <i> Content</i> </mat-label>
      <input matInput placeholder="What's on your mind?" />
    </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
