/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  background-color: #37385f;
  color: #d7d7ef;
  font-family: "Lato", sans-serif;
}
